*,
*::before,
*::after {
    box-sizing: border-box;
}

/* _______________ Custom Properties _______________ */

:root {
    --ff-primary: 'Lexend', sans-serif;
    --ff-secondary: 'Lexend', sans-serif;
    --ff-test-1: 'Bitter', serif;
    --ff-test-2: 'Lexend', sans-serif;
    --ff-test-3: 'Prompt', sans-serif;
    --ff-test-4: 'Red Hat Display', sans-serif;
    --ff-primary-org: 'Source Sans Pro', sans-serif;
    --ff-secondary-org: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #D8E3E7;
    --clr-dark: #222831; 
    --clr-accent: #51C4D3; 

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 2.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* _______________ General styles _______________ */


html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong {font-weight: var(--fw-bold);}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}



/* _______________ Buttons _______________ */

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 450ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}


/* _______________ Typografy _______________ */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {font-size: var(--fs-h1);}
h2 {font-size: var(--fs-h2);}
h3 {font-size: var(--fs-h3);}

.section--title {
    margin-bottom: .25em;
}

.section--title__intro {
    font-weight: var(--fw-reg);
}

.section--title__intro strong {
    display: block;
}

.section--subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section--subtitle__intro,
.section--subtitle__about,
.project--subtitle__work {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1rem;
}

/* _______________ Header / Navbar _______________ */

header {
    display: flex;
    justify-content: space-between;
}


.logo {
    max-width: 50px;
    margin-left: 2em;
    margin-top: 1.5em;
}

.nav--list {
    display: flex;
    list-style: none;
    font-family: var(--ff-secondary);
    align-items: center;
    padding: 0;
    margin: 0;
    z-index: 1000;
}

/* _______________ Nav Toggle _______________ */

.nav-toggle {
    display: none;
}

@media (max-width: 35rem) {

    .nav--list {
        display: flex;
        flex-direction: column;
        list-style: none;
        font-family: var(--ff-secondary);
        align-items: center;
        position: fixed;
        inset: 0 0 0 40%;
        padding: min(6rem, 20vh) 2rem;

        margin: 0;
        z-index: 1000;
        background-color:#D8E3E7;
        backdrop-filter: blur(.1rem);
        transform: translateX(100%);
        transition: transform 500ms ease-in-out;
    }

    header.dark .nav--list {
        display: flex;
        flex-direction: column;
        list-style: none;
        font-family: var(--ff-secondary);
        align-items: center;
        position: fixed;
        inset: 0 0 0 40%;
        padding: min(6rem, 20vh) 2rem;

        margin: 0;
        z-index: 1000;
        background-color:#222831;
        backdrop-filter: blur(.1rem);
        transform: translateX(100%);
        transition: transform 500ms ease-in-out;
    }

    .nav--list[data-visible="true"] {
        transform: translateX(0);
    }

    header.dark .nav--list[data-visible="true"] {
        transform: translateX(0);
    }

    .nav-toggle {
        display: block;
        position: absolute;
        z-index: 1001;
        right: 2rem;
        top: 1rem;
        background: transparent;
        background-image: url(../src/images/bars-solid.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 1.5rem;
        aspect-ratio: 1;
        border: 0;
    }

    .nav-toggle[aria-expanded="true"] {
        background-image: url(../src/images/xmark-solid.svg);
    }
}

.nav--item {
    padding: 1em;

}

.nav--link {
    color: var(--clr-dark);
    text-decoration: none;
}

.nav--link:hover,
.nav--link:focus {
    text-decoration: underline;
    color: var(--clr-accent);
}



/* _______________ Dark/Light theme _______________*/

.nav-theme--toggler {
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-top: 5px;
}

.nav-theme--toggler p {
    font-size: 0.5rem;
    font-weight: 600;
}

.nav-theme--toggler--light {
    color: #2B283A;
}

.nav-theme--toggler--dark {
    color: #918E9B;
}

.nav-theme--toggler--slider {
    width: 25px;
    height: 13px;
    background-color: #2B283A;
    border-radius: 2rem;
    margin-inline: 7px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid var(--clr-dark);
    box-sizing: content-box; 
}

.nav-theme--toggler--slider--circle {
    height: 13px;
    width: 13px;
    background-color: white;
    border-radius: 50%;   
}

header.dark .nav-theme--toggler--slider {
    border-color: white;
    background-color: #F5F5F5;
}

header.dark .nav-theme--toggler--slider--circle {
    background-color: var(--clr-dark);
}

header.dark .nav-theme--toggler--light {
    color: #918E9B;
}

header.dark .nav-theme--toggler--dark {
    color: #FFFFFF;
}

header.dark .nav-theme--toggler--slider {
    justify-content: flex-end;
}

header.dark {
    background-color: #30475E;
    
}

header.dark .nav--link {
    color: #D8E3E7;
}

header.dark .nav--link:hover,
.nav--link:focus {
    text-decoration: underline;
    color: var(--clr-accent);
}

.intro-dark {
    background-color: #30475E;
    position: relative;
    padding: 10em;
}



/* _______________  Intro _______________  */

.intro {
    position: relative;
    padding-top: 10em;
    padding-bottom: 10em;
}

.intro--img {
    box-shadow: var(--bs);
    
}

.section--subtitle__intro {
    display: inline-block;
}

.intro-bg--dark {
    background-color: #30475E;
    color: #D8E3E7;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;       
    }

    .intro-dark {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
        background-color: #30475E;
    }

    .intro--img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section--subtitle__intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}

/* _______________ About _______________ */

.about {
    background-color: var(--clr-dark);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
}

.section--title__about {
    color: var(--clr-accent);
    position: relative;
}

.section--title__about::after {
    content: '';
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.about--container {
    margin-bottom: 4em;
    text-align: center;
}

.about--box {
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .about--container {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
}

.about--skills-box {
    display: flex;
    justify-content: center;
}

.about--skills-list {
    list-style: none;
    font-size: .8rem;
    font-family: var(--ff-secondary);
    text-align: start;
    padding-left: 50px;
    padding-right: 50px;
}




/* _______________ Footer _______________ */

.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);

}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer--link {

    font-family: var(--ff-test-2);
    
}

.footer--link:hover,
.social-list--link:hover
{
    opacity: .7;
}

.footer--link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list--item {
    margin: 0 .5em;   
}

.social-list--link {
    padding: .5em;
}



/* ___________________ Work ___________________ */



.work {
    max-width: 1000px;
    margin: 0 auto;
}

.work-bg--dark {
    background-color: #30475E;
    color: #D8E3E7;
}

.link-color {
    color: var(--clr-accent);
}

.section--subtitle__work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
    text-align: center;
}


@media (min-width: 600px) {
    .work {
        display: grid;
        grid-template-columns: 1fr 300px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }

    .work--img {
        box-shadow: var(--bs);

    }

    .section--title__work {
        grid-area: title;
        font-size: var(--fs-h3);
        margin-bottom: 5px;
    }

    .section--subtitle__work {
        grid-area: subtitle;
        font-size: 1.5rem;
        
    }

    .project--subtitle__work {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
        font-size: 1rem;
    }

    .work--img {
        grid-area: img;
        position: relative;
        z-index: 2;
        height: 15rem;
        object-fit: cover;

    }


    .work--img {
        transition: 
            transform 750ms cubic-bezier(.5, 0, .5, 1),
    }
    
    .work--img:hover {
        transform: scale(1.06);
    } 
    
    .link-color {
        color: var(--clr-accent);
    }

    .project--links {
        display: flex;

    }
}

.project--title-text {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 0;
}


/* _____________ Project cards _______________ */


.project-cards--section {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;

}


.project--all-cards {
    margin-left: 200px;
    margin-right: 200px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 350px;
    justify-content: center;

}


.project-card {
    background: var(--clr-dark);
    border: 3px solid var(--clr-accent);
    border-radius: 5px;
    width: 300px;
    height: 350px;
}

.project-card {
    transition: 
        transform 750ms cubic-bezier(.5, 0, .5, 1)
}

.project-card:hover {
    transform: translateY(-10px)


}

.project-card:hover .project-card--title {
    color: var(--clr-accent);
}

.project-card--icon-box {
    display: flex;
    justify-content: space-between;
}

.project-card--links {
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
    margin-top: 15px;
}

.card-link:hover {
    opacity: 0.5;
}

.card-link {
    color: var(--clr-accent);
    padding-left: 15px;
}

.project-card--icon {
    color: var(--clr-accent);
    margin-top: 15px;
    margin-left: 15px;
    font-size: 36px;
}

.project-card--title {
    font-size: 1.3rem;
    margin-top: 20px;
    text-align: start;
    padding: 15px;
}


.project-card--description {
    font-size: .8rem;
    text-align: start;
    padding: 15px;
}

.project-card--tools {
    font-size: .7rem;
    font-family: var(--ff-secondary);
    text-align: start;
    padding-left: 15px;
    padding-bottom: 30px;

}
